azureml-dataprep[pandas]
azure-ai-ml==1.27.1
azure-identity==1.23.0
azureml-mlflow==1.60.0
matplotlib
mltable==1.6.1
urllib3==2.5.0
paramiko==3.5.1
idna==3.10
scikit-learn
tqdm==4.67.1
cryptography==45.0.5
certifi==2025.6.15